@import url(https://fonts.googleapis.com/css?family=Nunito);
trix-editor {
  min-height: 320px;
  width: calc(100% + 20px);
  padding-left: 10px;
  padding-right: 10px;
  left: -10px;
  position: relative;
}

#place-list .place {
  margin-bottom: 3px;
}
